*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
	font-size: 10px;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Lexend Deca", sans-serif;
	font-weight: 400;
	color: #fff;
	background-color: hsl(0, 0%, 95%);
}

h1 {
	visibility: hidden;
	width: 0;
	height: 0;
}

main {
	min-height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	max-width: 100%;
}

.card {
	margin: 2em;
	border-radius: 6px;
	z-index: 1;
	overflow: hidden;
}

.sedan {
	background-color: hsl(31, 77%, 52%);
	flex-grow: 1;
}

.suv {
	background-color: hsl(184, 100%, 22%);
	flex-grow: 1;
}

.luxury {
	background-color: hsl(179, 100%, 13%);
	flex-grow: 1;
	z-index: -1000;
}

.sedan,
.suv,
.luxury {
	padding: 4.5em;
}

.card-img {
	transition: transform 150ms ease-in-out;
}

.card-img:hover {
	transform: scale(1.15);
	cursor: pointer;
}

.card-title {
	text-transform: uppercase;
	font-family: "Big Shoulders Display", cursive;
	font-size: 3.6rem;
}

.card-body {
	font-weight: 400;
	font-size: 1.5rem;
	color: hsla(0, 0%, 100%, 0.75);
	line-height: 1.8;
}

.card-button {
	padding: 1.2em 3em;
	border-radius: 100px;
	border: 3px solid #fff;
	font-size: 1.6rem;
	margin-top: 2em;
	font-weight: 700;
	transition: all 100ms ease-in-out;
}

.card-button:hover {
	cursor: pointer;
}

.sedan .card-button {
	color: hsl(31, 77%, 52%);
}

.suv .card-button {
	color: hsl(184, 100%, 22%);
}

.luxury .card-button {
	color: hsl(179, 100%, 13%);
}

.sedan .card-button:hover,
.suv .card-button:hover,
.luxury .card-button:hover {
	color: #fff;
}

.sedan .card-button:hover {
	background-color: hsl(31, 77%, 52%);
}

.suv .card-button:hover {
	background-color: hsl(184, 100%, 22%);
}

.luxury .card-button:hover {
	background-color: hsl(179, 100%, 13%);
}

.attribution {
	font-size: 1.1rem;
	text-align: center;
	margin-top: -1.5em;
}

.attribution a {
	color: #595959;
}

.attribution a:hover {
	color: #190eb8;
}

.attribution__designer,
.attribution__programmer {
	font-size: 1.2rem;
	margin-top: 1em;
}

@media (min-width: 400px) {
	.card-body {
		width: 89%;
	}

	.card {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}

	.sedan,
	.suv,
	.luxury {
		flex-grow: 0;
	}
}
